@charset "ISO-8859-1";
    body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  background-color:#ffffff;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;

  border-collapse: collapse;
  box-shadow: 0 30px 50px 0 black;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #cf000f;
  color: white;
}




#pr {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;

  border-collapse: collapse;
  box-shadow: 0 30px 50px 0 black;
}

#pr td, #pr th {
  border: 1px solid #ddd;
  padding: 8px;
}

#pr tr:nth-child(even){background-color: #f2f2f2;}

#pr tr:hover {background-color: #ddd;}

#pr th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ffffcc;
  color: black;
}




#prx {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;

  border-collapse: collapse;
  box-shadow: 0 30px 50px 0 black;
}

#prx td, #prx th {
  border: 1px solid #ddd;
  padding: 8px;
}

#prx tr:nth-child(even){background-color: #f2f2f2;}

#prx tr:hover {background-color: #89c4f4;}

#prx th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #29f1c3;
  color: black;
}


#prr {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;

  border-collapse: collapse;
  box-shadow: 0 30px 50px 0 black;
}

#prr td, #prr th {
  border: 1px solid #ddd;
  padding: 8px;
}

#prr tr:nth-child(even){background-color: #fff68f;}

#prr tr:hover {background-color: #ddd;}

#prr th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f4d03f;
  color: black;
}



#prrc {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;

  border-collapse: collapse;
  box-shadow: 0 30px 50px 0 black;
}

#prrc td, #prr th {
  border: 1px solid #ddd;
  padding: 8px;
}

#prrc tr:nth-child(even){background-color: #FADBD8;}

#prrc tr:hover {background-color: #ddd;}

#prrc th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #d91e18;
  color: white;
}
  .topnav .search-container {
      float: right;
    }
    
    .topnav input[type=text] {
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
    }
    
    .topnav .search-container button {
      float: left;
      padding: 4px 8px;
      margin-top: 8px;
      margin-right: 16px;
      background: #0000a0;
      font-size: 12px;
      border: none;
      cursor: pointer;
    }
    
    .topnav .search-container button:hover {
      background: #ccc;
    }
    
    @media screen and (max-width: 100px) {
      .topnav .search-container {
        float: none;
      }
      .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: right;
        width: 10%;
        margin: 0;
        padding: 14px;
      }
      .topnav input[type=text] {
        border: 1px solid #ccc;  
      }
      
    }
  * {
  box-sizing: border-box;
}
 
/*Header Css*/
* {box-sizing: border-box;}
    
    body {
      margin: 2px;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .topnav {
      overflow: hidden;
      color:white;
      background-color: #67809f;
    }
    
    .topnav a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .topnav a.active {
      background-color: #2196F3;
      color: white;
    }
    
    .topnav .search-container {
      float: right;
    }
    
    .topnav input[type=text] {
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
    }
    
    .topnav .search-container button {
      float: right;
      padding: 6px 10px;
      margin-top: 8px;
      margin-right: 16px;
      background: #ddd;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }
    
    .topnav .search-container button:hover {
      background: #ccc;
    }
    
    @media screen and (max-width: 600px) {
      .topnav .search-container {
        float: none;
      }
      .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
      }
      .topnav input[type=text] {
        border: 1px solid #ccc;  
      }
      
    }
    
    .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 3px solid #03c9a9;
}

.button3 {
  background-color: white; 
  color: black; 
  border: 3px solid #d91e18;
}
.button3:hover {
  background-color: #d91e18;
  color: white;
}

.button33 {
  background-color: white; 
  color: black; 
  border: 3px solid #89c4f4;
}
.button33:hover {
  background-color: #2abb9b;
  color: white;
}
.button2:hover {
  background-color: #03c9a9;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ffffff;
}

.active {
  background-color: #4CAF50;
}

input[type=text], select {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2.5px solid #1f3a93;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 70%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.div1 {
  border-radius: 5px;
  box-shadow: 0 40px 60px 0 black;
  background-color: #a5ceec;
  padding: 20px;
  width:50%;
}


/*display successfully added message as a model*/
body {font-family: Arial, Helvetica, sans-serif;}
/* The Modal (background) */
.modal3 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 70%; /* Full width */
  height: 20%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal3-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 70%; /* Full width */
  height: 20%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}





.modal3-header {
  padding: 2px 16px;
  background-color: #ec644b;
  color: white;
}

.modal3-body {padding: 2px 16px;}

.modal3-footer {
  padding: 2px 16px;
  background-color: #ec644b;
  color: Black;
}

.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 70%; /* Full width */
  height: 20%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-header {
  padding: 2px 16px;
  background-color: #cf000f;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #cf000f;
  color: white;
}

.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 70%; /* Full width */
  height: 20%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal1-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal1-header {
  padding: 2px 16px;
  background-color: #2ecc71;
  color: white;
}

.modal1-body {padding: 2px 16px;}

.modal1-footer {
  padding: 2px 16px;
  background-color: #cf000f;
  color: white;
}

.card {
  box-shadow: 0 8px 16px 0 black;
  transition: 0.3s;
  width: 70%;
  color:#cf000f;
  background:white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.button1 {
  border-radius: 4px;
  background-color: #013243;
  border: 3px solid #1f3a93;
  border-color:white;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}
/*footer*/
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#808040;
   color:black;
   text-align: center;
}

.h2222 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #3CBC8D;
  color: white;
}